.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/artifacts/Image_Extractor_jar.xml
.idea/libraries/Maven__junit_junit_3_8_1.xml
